<div id="theSidebar" class="sidebar">

    <a href="{{ site.baseurl }}/"><h1><span>EMMA</span>XIE</h1></a>
    <nav class="related">
      <div class="menu-item">
        <a href="#"><img src="/images/menu-icon.png"></a>
        <div class="sub-menu">
            <img src="/images/sidebar-logo.png"></a>

            <h2> <br>EMMA XIE<br></h2>
            <hr>
            <a href="#">PORTFOLIO</a>
            <a href="#">ABOUT</a>
            <a href="#">RESUME</a>
            <a href="#">BLOG</a>
            <p><i>emma.xie@uwaterloo.ca</i></p>
        </div>
      </div>
      <div class="menu-item">
        <a href="#"><img src="/images/portfolio-icon.png"/></a>
        <div class="sub-menu">
            
            <img src="/images/sidebar-portfolio.png"></a>

            <h2> <br>PORTFOLIO<br></h2>
            <hr>
            <a href="#">HARDWARE</a>
            <a href="#">SOFTWARE</a>
            <a href="#">DESIGN</a>
            <a href="#" style="margin-left:38px">ILLUSTRATION</a>
            <p><i>emma.xie@uwaterloo.ca</i></p>
            
        </div>
      </div>
      <div class="menu-item">
        <a href="#"><img src="/images/contact-icon.png"/></a>
        <div class="sub-menu contact">
            <img src="/images/sidebar-logo.png"></a>

            <h2> <br>CONTACT<br></h2>

            <hr>
            
            <p style="position:relative; margin:auto;"><i>emma.xie@uwaterloo.ca</i></p>
            <a href="#">HARDWARE</a>
            <a href="#">SOFTWARE</a>
            <a href="#">DESIGN</a>
            <a href="#">ILLUSTRATION</a>

        </div>
      </div>
    </nav>
    <nav class="site-nav">
      

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</div>
