<!DOCTYPE html>
<html lang="en" class="no-js">
	{% include head.html %}
	<body>
		{% include sidebar.html %}
	    <div class="container">
	    	<div class="main"id="theGrid" >
				<section class="grid">
					
					<div class="page-meta" id = "hardware">
						<h3 ><b>Hardware Projects</b></h3>
						<p>Electrical and mechanical projects</p>
						
					</div>
					{% for post in site.categories.hardware %}
					
					<a class="grid__item" href="{{ post.url }}" style="background-image: url({{ site.baseurl }}/images/work/{{post.thumb}})">
						<div class="overlay">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<p><i> {{ post.tag}} </i></p>
						</div>
						
					</a>
					{% endfor %}
					
<!--SOFTWARE-->
					<div class="page-meta" id = "hardware">
						<h3 ><b>Software Projects</b></h3>
						<p>Projects developed for web, mobile, and everything in between</p>
						
					</div>
					
					{% for post in site.categories.software %}
					
					<a class="grid__item" href="{{ post.url }}" style="background-image: url({{ site.baseurl }}/images/work/{{post.thumb}})">
						<div class="overlay">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<p><i> {{ post.tag}} </i></p>
						</div>
						
					</a>
					{% endfor %}
					
<!--DESIGN-->
					<div class="grid__title" id = "design">
						<h2 class="title title--preview">Graphic Design</h2>
						<div class="loader"></div>
						<span class="category">Various design work, including web design, product design, branding</span>
					</div>
					{% for post in site.categories.design %}
					
					<a class="grid__item" href="{{ post.url }}" style="background-image: url({{ site.baseurl }}/images/work/{{post.thumb}})">
						<div class="overlay">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<p><i> {{ post.tag}} </i></p>
						</div>
						
					</a>
					{% endfor %}
					
<!--DESIGN-->
					<div class="grid__title" id = "illustration">
						<h2 class="title title--preview">Illustrations</h2>
						<div class="loader"></div>
						<span class="category">Paintings, illustrations, misc sketches</span>
					</div>
					{% for post in site.categories.illustration %}
					
					<a class="grid__item" href="{{ post.url }}" style="background-image: url({{ site.baseurl }}/images/work/{{post.thumb}})">
						<div class="overlay">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<p><i> {{ post.tag}} </i></p>
						</div>
						
					</a>
					{% endfor %}
					
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Disorders are the New Order</h2>
						<div class="loader"></div>
						<span class="category">Mental Health</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="img/authors/4.png" alt="author04" /> 
							<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
							<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
						</div>
					</a>
					<footer class="page-meta">
						<span>EMMA XIE</span>
					</footer>
				</section>
				<section class="content">
					<div class="scroll-wrap">
						
						<article class="content__item">
							<!--<span class="category category--full">Nutrition</span>
							<h2 class="title title--full">What Goes Around Comes Around</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="img/authors/3.png" alt="author03" />
								<span class="meta__author">Carol Freeman</span>
								<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
								<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
							</div>
							<p></p>-->
						</article>
					</div>
				</section>
						
			</div>
		</div><!-- /container -->
		<script src="/js/classie.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
